<div class="row justify-content-center">
  <div class="col-md-6">
    <button class="btn btn-secondary mb-3" (click)="abrirModalBuscarCliente()">Buscar cliente</button>


    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group mb-3">
        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" class="form-control" formControlName="cliente">
        <div *ngIf="form.get('cliente')?.invalid && form.get('cliente')?.touched" class="invalid-feedback">
          Cliente es requerido.
        </div>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="text" id="fecha" class="form-control" readonly formControlName="fecha">
      </div>

      <div class="mt-3">
        <label>
          <h5>Detalles</h5>
        </label>
        <button type="button" class="float-end btn btn-secondary mb-3" (click)="abrirModalBuscarProducto()">Agregar
          Productos</button>
      </div>

      <div formArrayName="detalles">
        <div *ngFor="let detalle of getCtrl('detalles',form)?.controls; let i = index" [formGroupName]="i"
          class="detalle-item">
          <div>
            <label>Producto:</label>
            <input type="text" class="form-control" [value]="detalle.get('producto').value.descripcion" readonly>
          </div>
          <div>
            <label>Precio:</label>
            <input type="text" class="form-control" [value]="detalle.get('producto').value.precio | currency: 'USD'"
              readonly>
          </div>
          <div>
            <label>Cantidad:</label>
            <input type="number" class="form-control" formControlName="cantidad" required>
            <div *ngIf="detalle.get('cantidad').invalid && detalle.get('cantidad').touched" class="invalid-feedback">
              Cantidad es requerida.
            </div>
          </div>
          <div>
            <label>Unidad de Medida:</label>
            <input type="text" formControlName="unidad_medida" class="form-control" required>
            <div *ngIf="detalle.get('unidad_medida').invalid && detalle.get('unidad_medida').touched"
              class="invalid-feedback">
              Unidad de Medida es requerida.
            </div>
          </div>
        </div>

      </div>

      <div class="mb-4"></div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
    </form>


  </div>
</div>